﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/semanticCss")
	@Scripts.Render("~/bundles/semanticjs")

	@Scripts.Render("~/bundles/jquery")
	<link type="text/css" rel="stylesheet" href="~/Content/Custom/Page.css" />
	<script src="~/Scripts/Custom/page.js" type="text/javascript"></script>
    <script type = 'text/javascript' >
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'96f74394-b9e7-43b0-ad12-8293071dd099'
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
	<nav class="ui large top fixed hidden fluid four item menu">
		<div id="fixed-menu" class="ui container">
			<a href="#" class="item">Home</a>
			<a href="#about" class="item active">About</a>
			<a href="#portfolio" class="item">Portfolio</a>
			<a href="#contact" class="item">Contact</a>
		</div>
	</nav>
	<!-- Page Contents-->
<div id="home" class="pusher">
	<div class="ui inverted vertical masthead center aligned segment">
		<div class="ui container">
			<div class="ui large secondary inverted fluid four item menu"><a href="#" class="active item">Home</a><a href="#about" class="item">About</a><a href="#portfolio" class="item">Portfolio</a><a href="#contact" class="item">Contact</a></div>
		</div>
		<div class="ui text container">
			<h1 class="ui inverted header">TypoGraphics</h1>
			<h3>Creative minds, inspired designs</h3>
		</div>
	</div>
	<!--  About Section-->
	<div id="about" class="ui vertical stripe segment">
		<div class="ui text container">
			<h4 class="ui horizontal header divider">About</h4>
			<h3 class="ui header">incisive, inquisitive, insightful, irreverent mind</h3>
			<p>
				Siyanda Maphumulo a Durban base designer
				This site contains likes to my work as well as some other stuffs,
				I mostly work with graphic and web design if you have an intersting project, we can get in touch and discuss it
			</p><a class="ui large button">I'm Still Quite Interested</a>
		</div>
	</div>

	<!--  Portfolio Section-->
	<div id="portfolio" class="box">
		<div class="ui three column doubling stackable grid container">
			<h4 class="ui horizontal header divider">Portfolio</h4>
			<div class="column">
				<div class="ui centered fluid card">
					<div class="image"><img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/11821080_1613306732280547_569523342_n.jpg?ig_cache_key=MTA0NzM4MTY2OTQ2MjU1MDAyOQ%3D%3D.2" /></div>
					<div class="content">
						<a class="header">Robert Generette III</a>
						<div class="meta"><span class="date">Normal Filter</span></div>
						<div class="description">rob_zilla_iii</div>
					</div>
					<div class="extra content"><span class="right floated"><i class="heart outline icon"></i>306 likes</span><span class="left floated"><i class="comments outline icon"></i>29 comments</span></div>
				</div>
			</div>
			<div class="column">
				<div class="ui centered fluid card">
					<div class="image"><img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/12393706_1039986032726345_919475820_n.jpg?ig_cache_key=MTE2MDk2Njc5NzAwNzc4NDc2OQ%3D%3D.2" /></div>
					<div class="content">
						<a class="header">Jared Mirabile</a>
						<div class="meta"><span class="date">Normal Filter</span></div>
						<div class="description">sweyda</div>
					</div>
					<div class="extra content"><span class="right floated"><i class="heart outline icon"></i>2564 likes</span><span class="left floated"><i class="comments outline icon"></i>29 comments</span></div>
				</div>
			</div>
			<div class="column">
				<div class="ui centered fluid card">
					<div class="image"><img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/12301239_563396480474236_1687909445_n.jpg?ig_cache_key=MTEyODUxODI3MTAxMjIxNjM2MA%3D%3D.2" /></div>
					<div class="content">
						<a class="header">Alicia Keys</a>
						<div class="meta"><span class="date">Inkwell Filter</span></div>
						<div class="description">aliciakeysworld</div>
					</div>
					<div class="extra content"><span class="right floated"><i class="heart outline icon"></i>204 likes</span><span class="left floated"><i class="comments outline icon"></i>4 comments</span></div>
				</div>
			</div>
			<div class="column">
				<div class="ui centered fluid card">
					<div class="image"><img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/11363891_504424856396866_1249040520_n.jpg?ig_cache_key=MTE5NjM3ODU0ODI3ODU5MTU3Mg%3D%3D.2" /></div>
					<div class="content">
						<a class="header">dave koenig</a>
						<div class="meta"><span class="date">Normal Filter</span></div>
						<div class="description">davekoenigart</div>
					</div>
					<div class="extra content"><span class="right floated"><i class="heart outline icon"></i>525 likes</span><span class="left floated"><i class="comments outline icon"></i>5 comments</span></div>
				</div>
			</div>
			<div class="column">
				<div class="ui centered fluid card">
					<div class="image"><img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/12393843_1663764337242420_667647894_n.jpg?ig_cache_key=MTE0MjA3NjE1ODQzOTI4OTk2Mg%3D%3D.2" /></div>
					<div class="content">
						<a class="header">Rogie's Sketchbook</a>
						<div class="meta"><span class="date">Slumber Filter</span></div>
						<div class="description">rogie</div>
					</div>
					<div class="extra content"><span class="right floated"><i class="heart outline icon"></i>827 likes</span><span class="left floated"><i class="comments outline icon"></i>13 comments</span></div>
				</div>
			</div>
			<div class="column">
				<div class="ui centered fluid card">
					<div class="image"><img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/11910083_1500421580274215_2119731727_n.jpg?ig_cache_key=MTA3Njk4MDgxMDUxNzEwMTQ1NA%3D%3D.2" /></div>
					<div class="content">
						<a class="header">David Kennedy</a>
						<div class="meta"><span class="date">Normal Filter</span></div>
						<div class="description">cherrysheriff</div>
					</div>
					<div class="extra content"><span class="right floated"><i class="heart outline icon"></i>256 likes</span><span class="left floated"><i class="comments outline icon"></i>9 comments</span></div>
				</div>
			</div>
		</div>
	</div>
	<!--  Footer Section-->
	<div id="contact" class="ui vertical contact">
		<div class="ui container">
			<h4 class="ui horizontal header inverted divider">Contact</h4>

			<div class="ui basic very padded segment">
				<div class="tagline">
					<p>Like what you see ? Lets get in touch.</p>
				</div>
			</div>

			<div class="ui stackable inverted divided equal height stackable grid">
				<div class="six wide column">
					<h3 class="ui centered inverted header">Social Links</h3>
					<div class="ui link list"><i class="circular huge twitter icon"></i><i class="circular huge instagram icon"></i><i class="circular huge tumblr icon"></i><i class="circular huge github icon"></i><i class="circular huge codepen icon"></i></div>
				</div>
				<div class="seven wide column">
					<h3 class="ui inverted header">Form</h3>
					<form class="ui inverted form">
						<div class="ten wide field">
							<label>Name</label>
							<input type="text" name="first-name" placeholder="Name" />
						</div>
						<div class="ten wide field">
							<label>Email</label>
							<input type="text" name="last-name" placeholder="Email Address" />
						</div>
						<div class="field">
							<label>Message</label>
							<textarea name="message" placeholder="** hint ** speak your mind" rows="4"></textarea>
						</div>
						<button type="submit" class="ui primary button">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!--  Site info -->
	<div class="ui base">
		<p>TypoGraphics | 2016</p>
	</div>
</div>
	
</body>
</html>
