﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>DS</title>
	@Scripts.Render("~/bundles/jquery")
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js" type="text/javascript"></script>
	<script src="~/Scripts/Custom/page.js" type="text/javascript"></script>
	<script src="~/Scripts/Semantic/semantic.min.js" type="text/javascript"></script>
	<script src="~/Scripts/Custom/userHelper.js" type="text/javascript"></script>
	<script src="~/Scripts/Custom/httpHelper.js" type="text/javascript"></script>
	<script src="~/Scripts/Custom/Angular/Controllers/SignUp.js" type="text/javascript"></script>
	<script src="/Scripts/Custom/initSemantic.js"></script>

	<link type="text/css" rel="stylesheet" href="~/Content/Semantic/semantic.min.css" />
	<link type="text/css" rel="stylesheet" href="~/Content/Custom/Page.css" />
		<link type="text/css" rel="stylesheet" href="~/Content/Home/SignUpSuccess.css" />

</head>
<body ng-app="HomeApp">
	<nav class="ui large top fixed hidden fluid four item menu">
		<div id="fixed-menu" class="ui container">
			<a href="#" class="item">Home</a>
			<a href="#about" class="item active">About</a>
			<a href="#Diets" class="item">Diets</a>
			<a href="#contact" class="item">Contact</a>
		</div>
	</nav>
	<!-- Page Contents-->
	<div id="home" class="pusher">
		<div class="ui inverted vertical masthead center aligned segment">
			<div class="ui container">
				<div class="ui large secondary inverted fluid four item menu"><a href="#" class="active item">Home</a><a href="#about" class="item">About</a><a href="#Diets" class="item">Diets</a><a href="#contact" class="item">Contact</a></div>
			</div>
			
			<div class="ui page dimmer">
				<div class="content">
					<div class="ui indeterminate text loader"></div>
				</div>
			</div>

			
			<br>
			<div class="ui text container">
				
				<div class="ui bottom attached">
					<div class="ui top attached tabular menu">
						<a style="color: white" class="item active blue" data-tab="first">Log in</a>
						<a style="color: white" class="item blue" data-tab="second">Sign Up</a>
					</div>
					<div class="ui bottom attached tab segment active" data-tab="first" style="background-color: rgba(0, 0, 0, 0.32);">
						<div class="ui two column centered grid">
							<div class="column">
								<br>
								<h2 class="ui header">
									<i class="huge add user icon inverted"></i>
									<div class="ui inverted header">
										Introduce yourself
										<div class="sub header">Enter your account details to gain access</div>
									</div>
								</h2>
								<form id="form1" class="ui form">
									<div class="field">
										<input ng-model="email" type="email" name="email" id="email" placeholder="Email">
									</div>
									<div class="field">
										<input ng-model="password" type="password" name="password" id="password" placeholder="Password">
									</div>
									<input type="submit" class="ui green button" id="submit" value="Sign in">
								</form>
							</div>
						</div>
					</div>
					<div ng-controller="SignUpCtrl" style="background-color: rgba(0, 0, 0, 0.32);" class="ui bottom attached tab segment" data-tab="second">
						<div ng-if="successSignUp" class="checkmark-circle">
							<div class="background"></div>
							<div class="checkmark draw"></div>
						</div>
						<div ng-if="!successSignUp" class="ui two column centered grid">
							<div class="column">
								<br>
								<h2 class="ui header">
									<i class="huge add user icon inverted"></i>
									<div class="ui inverted header">
										Create your first account & use
										<div class="sub header">Enter the main information on yourself</div>
									</div>
								</h2>
								<form id="form1" class="ui form">
									<div class="field">
										<label style="background-color: rgba(0, 0, 0, 0.32);" class="ui label inverted">First Name</label>
										<label style="background-color: rgba(0, 0, 0, 0.32);" class="ui label inverted">{{authnrData.firstName}}</label>
										<input ng-model="authnrData.firstName" type="text" name="first-name" placeholder="First Name">
									</div>
									<div class="field">
										<label style="background-color: rgba(0, 0, 0, 0.32);" class="ui label inverted">Last Name</label>
										<input ng-model="authnrData.lastName" type="text" name="last-name" placeholder="Last Name">
									</div>
									<div class="required field">
										<label style="background-color: rgba(0, 0, 0, 0.32);" class="ui label inverted">Email</label>
										<input ng-model="authnrData.email" type="email" name="email" id="email" placeholder="Email">
									</div>
									<div class="required field">
										<label style="background-color: rgba(0, 0, 0, 0.32);" class="ui label inverted">Password</label>
										<input ng-model="authnrData.password" type="password" name="password" id="password" placeholder="Password">
									</div>
									<button ng-click="signUp()" class="ui green button">Start to use</button>
								</form>
							</div>
						</div>
					</div>
				</div>

				<h1 class="ui inverted bottom attached header">DietStudio</h1>
				<h3>Dream, belive, learn, do</h3>
			</div>
		</div>
		<!--  About Section-->
		@*<div id="about" class="ui vertical stripe segment">
			<div class="ui text container">
				<h4 class="ui horizontal header divider">About</h4>
				<h3 class="ui header">DietStudio</h3>
				<p>
					About
				</p><a class="ui large button">DietStudio</a>
			</div>
		</div>*@

		<!--  Diets Section-->
		<div id="Diets" class="box">
			@*<div class="ui three column doubling stackable grid container">
				<h4 class="ui horizontal header divider">Diets</h4>
				<div class="column">
					<div class="ui centered fluid card">
						<div class="image"><img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/11821080_1613306732280547_569523342_n.jpg?ig_cache_key=MTA0NzM4MTY2OTQ2MjU1MDAyOQ%3D%3D.2" /></div>
						<div class="content">
							<a class="header">Robert Generette III</a>
							<div class="meta"><span class="date">Normal Filter</span></div>
							<div class="description">rob_zilla_iii</div>
						</div>
						<div class="extra content"><span class="right floated"><i class="heart outline icon"></i>306 likes</span><span class="left floated"><i class="comments outline icon"></i>29 comments</span></div>
					</div>
				</div>
				<div class="column">
					<div class="ui centered fluid card">
						<div class="image"><img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/12393706_1039986032726345_919475820_n.jpg?ig_cache_key=MTE2MDk2Njc5NzAwNzc4NDc2OQ%3D%3D.2" /></div>
						<div class="content">
							<a class="header">Jared Mirabile</a>
							<div class="meta"><span class="date">Normal Filter</span></div>
							<div class="description">sweyda</div>
						</div>
						<div class="extra content"><span class="right floated"><i class="heart outline icon"></i>2564 likes</span><span class="left floated"><i class="comments outline icon"></i>29 comments</span></div>
					</div>
				</div>
				<div class="column">
					<div class="ui centered fluid card">
						<div class="image"><img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/12301239_563396480474236_1687909445_n.jpg?ig_cache_key=MTEyODUxODI3MTAxMjIxNjM2MA%3D%3D.2" /></div>
						<div class="content">
							<a class="header">Alicia Keys</a>
							<div class="meta"><span class="date">Inkwell Filter</span></div>
							<div class="description">aliciakeysworld</div>
						</div>
						<div class="extra content"><span class="right floated"><i class="heart outline icon"></i>204 likes</span><span class="left floated"><i class="comments outline icon"></i>4 comments</span></div>
					</div>
				</div>
				<div class="column">
					<div class="ui centered fluid card">
						<div class="image"><img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/11363891_504424856396866_1249040520_n.jpg?ig_cache_key=MTE5NjM3ODU0ODI3ODU5MTU3Mg%3D%3D.2" /></div>
						<div class="content">
							<a class="header">dave koenig</a>
							<div class="meta"><span class="date">Normal Filter</span></div>
							<div class="description">davekoenigart</div>
						</div>
						<div class="extra content"><span class="right floated"><i class="heart outline icon"></i>525 likes</span><span class="left floated"><i class="comments outline icon"></i>5 comments</span></div>
					</div>
				</div>
				<div class="column">
					<div class="ui centered fluid card">
						<div class="image"><img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/12393843_1663764337242420_667647894_n.jpg?ig_cache_key=MTE0MjA3NjE1ODQzOTI4OTk2Mg%3D%3D.2" /></div>
						<div class="content">
							<a class="header">Rogie's Sketchbook</a>
							<div class="meta"><span class="date">Slumber Filter</span></div>
							<div class="description">rogie</div>
						</div>
						<div class="extra content"><span class="right floated"><i class="heart outline icon"></i>827 likes</span><span class="left floated"><i class="comments outline icon"></i>13 comments</span></div>
					</div>
				</div>
				<div class="column">
					<div class="ui centered fluid card">
						<div class="image"><img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/11910083_1500421580274215_2119731727_n.jpg?ig_cache_key=MTA3Njk4MDgxMDUxNzEwMTQ1NA%3D%3D.2" /></div>
						<div class="content">
							<a class="header">David Kennedy</a>
							<div class="meta"><span class="date">Normal Filter</span></div>
							<div class="description">cherrysheriff</div>
						</div>
						<div class="extra content"><span class="right floated"><i class="heart outline icon"></i>256 likes</span><span class="left floated"><i class="comments outline icon"></i>9 comments</span></div>
					</div>
				</div>
			</div>*@
		</div>
		<!--  Footer Section-->
		<div id="contact" class="ui vertical contact">
			<div class="ui container">
				<h4 class="ui horizontal header inverted divider">Contact</h4>

				<div class="ui basic very padded segment">
					<div class="tagline">
						<p>Like what you see ? Lets get in touch.</p>
					</div>
				</div>

				<div class="ui stackable inverted divided equal height stackable grid">
					<div class="six wide column">
						<h3 class="ui centered inverted header">Social Links</h3>
						<div class="ui link list"><i class="circular huge twitter icon"></i><i class="circular huge instagram icon"></i><i class="circular huge tumblr icon"></i><i class="circular huge github icon"></i><i class="circular huge codepen icon"></i></div>
					</div>
					<div class="seven wide column">
						<h3 class="ui inverted header">Form</h3>
						<form class="ui inverted form">
							<div class="ten wide field">
								<label>Name</label>
								<input type="text" name="first-name" placeholder="Name" />
							</div>
							<div class="ten wide field">
								<label>Email</label>
								<input type="text" name="last-name" placeholder="Email Address" />
							</div>
							<div class="field">
								<label>Message</label>
								<textarea name="message" placeholder="** hint ** speak your mind" rows="4"></textarea>
							</div>
							<button type="submit" class="ui primary button">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!--  Site info -->
		<div class="ui base">
			<p>DietStudio | 2017</p>
		</div>
	</div>

</body>
</html>
